<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Homepage</title>
</head>
<body>
	<h1>Welcome to Our Music recommender.</h1>



	<form action="/frontend_code/" method="post">
		{% csrf_token %}
		<label for="your_name">Song to Add: </label>
		<input id="your_name" type="text" name="your_name">
		<input type="submit" value="Add to Playlist">
	</form>

	
	<a href = "{% url 'reset_list' %}">Clear List</a>

	{% if list|length > 19 %}
		<h2><a href = "{% url 'results' %}"> Click here to get your results!</a></h2>
	{% else %}
		<h3>Please enter at least 20 songs you enjoy to recieve your results</h3>
	{% endif %}







	<!-- 
		add button to clear list, and then make link to second page to output song lists

		create new application and new views for each view, try this solution

	-->
	<h4>Songs Added </h4>
	<ol>
	{% for i in list %}
	<li>{{ i }}</li>
	{% endfor %}
</body>
</html>
